fastapi 
uvicorn
sqlalchemy 
asyncpg 
alembic
pydantic-settings 
python-dotenv
python-jose[cryptography] 
passlib[bcrypt]
structlog
python-multipart
uv add --dev pytest pytest-asyncio httpx
uv add --dev ruff
uv add --dev mypy
greenlet
alembic
psycopg2-binary
pwdlib
python-jose[cryptography]
slugify
python-multipart
pypdf
pgvector -> brew install pgvector -> brew services restart postgresql ->psql -d support_ai -> CREATE EXTENSION IF NOT EXISTS vector; -> CREATE EXTENSION (expected output)
Openai